.html {
  box-sizing: border-box;
  background-color: black;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

.headcontainer {
  display:flex;
  height: 69px;
  background-color: black;
  border-bottom: solid 1px seashell;
}

  .logo {
    flex: 1;
    padding-left: 10px;
  }

  .logo img {
    height: 50px;
    align-items: center;
    justify-content: flex-start;
  }
  nav {
    flex: 3;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav a {
    display: flex;
    text-decoration: underline;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    padding: 10px;
  }
  @media screen and (min-width: 760px) {
    nav ul {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-content: center;
    }
  }

.imgcontainer1 {
  display: flex;
  flex-direction: column;
  background-color: black;
}
  .firstimage img {
    display: inline-flex;
    height: 700px;
    width: 1200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .c1items {
    display: inline-flex;
    background-color: black;
}
  .description1 {
    display: inline-flex;
    flex-direction: column;
    width: 1200px;
    text-align: center;
    justify-content: center;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
  }
