html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  }

}
  .logo {
  
    display: flex;
    flex-direction: row;
}
  .navigation {
    display: flex;
    text-decoration: underline;
    flex-direction: row-reverse;
}
